* {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(68, 68, 68);
}

p{
    font-size: 18px;
}

/*Header sizing and formatting using flex to seperate the nav and pic/title div*/
header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: rgb(0, 77, 128);
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
/*Spacing and styling for the image and name*/
header img {
    width: 150px;
    height: 150px;
    border-radius: 0px 10px 0px 0px;
}
header div {
    display: flex;
    background: rgb(0, 77, 128);
    align-items: flex-end;
}

header div h1{
    background: rgb(129, 255, 186);
    border-radius: 0px 10px 0px 0px;
    padding-left: 10px;
    padding-right: 60px;
}

/*Navigation bar spacing and styling*/
header nav {
    background: rgb(0, 61, 102);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px 0 0 0;
}
header a {
    color: rgb(129, 255, 186);
    background: rgb(0, 61, 102);
    font-size: 30px;
    padding: 0 10px;
    text-decoration: underline;
    border-radius: 10px 0 0 0;
}

/*Main content*/
main {
    background-color: rgb(68, 68, 68);
    width: 95%;
    margin: auto;
    color: white;
}

/*Set up for our two columns to have a title on the left and content on the right*/
.content{
    margin-top: 20px;
    display: flex;
} 

.content lefttitle{
    flex: 1;
    padding-right: 0px;
    border-right: 5px solid rgb(129, 255, 186);
    text-align: right;
    color: whi
}

.content lefttitle h2 {
    padding-right: 20px;
}

/*About me styling*/
.aboutme rightcontent {
    flex: 2;
    padding-left: 20px;
}

.aboutme p {
    margin: 20px 0;
}

/*Setting up spacing for work section*/
.work rightcontent {
    padding-left: 20px;
    flex:2;
    display: flex;
    flex-direction: column;
}

/*Setting spacing for main showcase work item inorder to fill page and be ready
to be dynamic*/
.work showcase {
    height: 500px;
    border: 7px solid rgb(0, 77, 128);
    position: relative;
    display: flex;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

/*Here is the setup for the background image with title over top*/
.work showcase .imageanchor{
    flex: 1;
    background-image: url("../images/NPS-Locator.png");
    background-size: cover;
    opacity: .6;
}

.work .titleanchor {
    position: absolute;
    bottom: 20px;
    z-index: 1;
}

.work showcase h3 {
    padding: 20px;
    font-size: 20px;
    color: white;
    width: 115px;
    background: rgb(0, 77, 128);
    border-radius: 0 10px 10px 0;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

/*Here is the setup for the other work.
Using two columns to start and setting up to be dynamic*/
.work otherwork {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
                
/*Getting the border of each item and setting the size to fill the space*/
.work otherwork workitem{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    border: 7px solid rgb(0, 77, 128);
    flex: 1 1 45%;
    position: relative;
    transition: all 0.5s ease-in-out;
}

/*This handles the background images*/
.work otherwork .imageanchor{
    flex: 1;
    background-size: cover;
    opacity: .6;
}

/*This handles the tittles over top of the images*/
.work otherwork h3 {
    font-size: 20px;
    color: white;
    width: 115px;
    background: rgb(0, 77, 128);
    border-radius: 0 10px 10px 0;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.work otherwork workitem h3{
    padding: 15px;
    padding-right: 0px;
}

/*Custom styling for the work items*/
/*Specific styling for the first item that has content*/
.work otherwork #workitem1 .imageanchor{
    background-image: url("../images/CSS-Snippet-Cheatsheet.png");
}

.work otherwork #workitem2 .imageanchor{
    background-image: url("../images/HoriseonSS.PNG");
}

.work otherwork #workitem3 .imageanchor{
    background-image: url("../images/Password-Generator.png");
}

.work otherwork #workitem4 .imageanchor{
    background-image: url("../images/Work-Day-Planner.png");
}


/*styling for all the coming soon items*/
.work otherwork #workitemcomingsoon .imageanchor{
    background-image: url("../images/ComingSoon.png");
}

.contactme rightcontent {
    height: 100px;
    padding-left: 20px;
    flex:2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contactme h3{
    color: white;
    text-decoration: underline;
}

/*Here is setting a shadow on the showcase item and also extenting the title box on hover*/
showcase:hover {
    box-shadow: inset 0px 0px 20px 20px rgb(0, 77, 128);
}

showcase:hover a h3{
    width: 250px;
    text-align: center;
}
/*The same hover styling for the otherwork items*/
otherwork workitem:hover {
    box-shadow: inset 0px 0px 20px 20px rgb(0, 77, 128);
}

otherwork workitem:hover a h3{
    width: 200px;
    text-align: center;
}

/*This handles the screen size changing, it stacks the header items
as the screen shrinks and also stacks the work section and contact section*/
@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header div h1{
        padding-right: 10px;
    }

    header nav{
        flex-direction: column;
        text-align: center;
        width: 100%;
        border-radius: 0;
    }
    header a {
        border-radius: 0;
    }

    .content {
        flex-direction: column;
        margin-top: 0;
    }

    .content lefttitle {
        text-align: center;
        border-bottom: 5px solid rgb(129, 255, 186);
        border-right: 0;
    }
    .content rightcontent {
        padding: 0 10px;
    }

    .work rightcontent {
        padding-top: 10px;
    }

    .contactme rightcontent{
        flex-direction: column;
    }
  }

  @media screen and (max-width: 870px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav{
        justify-content: center;
        text-align: center;
        width: 100%;
        border-radius: 0;
    }
    header a {
        border-radius: 0;
    }
    .work showcase {
        height: 400px;
    }

    .work otherwork{
        display: block;
    }

    .work workitem{
        margin-bottom: 10px;
        height: 150px;
    }
  }